@media screen and (min-width: 1100px) and (max-width: 1368px) {
  .header ul li{
    font-size: 14px;
  }
  .mobile-hide{
    display: none;
  }

  .navigation{
    padding: 0;
  }

  /* .navigation {
    width: max-content;
    height: 80px;
    margin-left: 100px;
    padding-left: 8px;
    float: left;
  } */
}
@media screen and (min-width: 1024px) and (max-width: 1229px) {

  .regionSelectorContainer{
    float: none;
  }

  .header{
    min-width: 1024px;
    max-width: 1219px;
  }

  .currentRegion{
    display: none;
  }

  .content, .services-banner-content{
    width: 1020px !important;
    margin: auto;
  }

  .regionSelector{
    padding-left: 0px;
    padding-right: 0px;
  }

  .social-icon{
    width: 30% !important;
  }

  .ticket__destination{
    font-size: 20px;
  }

  .route-line{
    width: 70%;
  }
}

@media screen and (max-width: 1269px) and (min-width: 1229px) {
  .bgFlow-banner-2{
    -webkit-clip-path: polygon(56% 111%, 109% 65%, 59% 35%, 92% 69%, 96% 89%, 72% 96%, 49% 91%, 45% 69%, 50% 75%, 62% 62%);
    clip-path: polygon(56% 111%, 109% 65%, 59% 35%, 92% 69%, 96% 89%, 72% 96%, 49% 91%, 45% 69%, 50% 75%, 62% 62%);
  }
}

@media screen and (min-width: 1108px) and (max-width: 1680px) {
  .jubi-banner{
    overflow: hidden;
  }

  .jubi-banner-image-2{
    right: -150px;
  }

  .bgFlow-banner-2{
    -webkit-clip-path: polygon(93% 65%, 113% 65%, 36% 66%, 158% 64%, 96% 89%, 72% 108%, 49% 91%, 41% 67%, 47% 92%, 34% 0%);
    clip-path: polygon(93% 65%, 113% 65%, 36% 66%, 158% 64%, 96% 89%, 72% 108%, 49% 91%, 41% 67%, 47% 92%, 34% 0%);
  }
}

@media screen and (min-width: 250px) and (max-width: 1100px) {
  img{
    object-fit: cover;
  }
  .configurator .grid{
    display: block;
  }
  .more-info.--hideDesktop{
    display: flex;
  }

  .rating{
    padding: 15px;
  }
  
  .configurator{
    display: block;
  }

  .no-mobile-gap{
    gap: 0;
  }

  .fullWidthImage{
    background-attachment: scroll;
  }

  .omnisend-form-644e5fe06a3925a0dc01c03b-field-container-62a34db0f7b3732a01429b16{
    padding-left: 0 !important;
  }

  .newsletter{
    height: auto;
  }

  dialog{
    min-width: 0;
    max-width: 350px;
    max-height: calc(100dvh - 170px);
    overflow: scroll;
  }

  .search-container{
    display: block;
    height: auto !important;
  }

  .reviews{
    grid-template-columns: 1fr 1fr;
  }

  .verified-review{
    margin-left: auto;
    margin-right: unset;
    flex-grow: 0;
    font-size: 12px;
  }

  .review-logo{
    width: 28%;
  }

  .subbanner-content{
    max-width: 100%;
  }

  .small-topHeader{
    max-width: 100%;
    min-width: 0;
  }

  .reviewContainer{
    grid-template-columns: 1fr;
    /* padding-left: 40px;
    padding-right: 40px; */
  }

  .special-events{
    padding-right: 15px;
  }

  .Trustpilot-reviews-header{
    padding: 0 20px 30px;
  }

  .Trustpilot-reviews-header-review-stars{
    margin: auto;
  }

  .trustpilot-logo-reviews{
    max-width: 100px;
  }

  .send-review{
    width: 100%;
  }

  .trustpilot_avg{
    margin: 10px 0;
  }

  .Trustpilot-reviews{
    padding: 100px 0px;
    display: block;
  }

  .review{
    max-width: 315px;
  }

  .btn-second{
    margin: 10px 15px 0px 0;
  }

  .weather-forcast{
    grid-template-columns: repeat(2, 1fr);
  }

  .google{
    grid-column: 1/4;
  }

  input{
    font-size: 16px;
  }
  body.--hidden,html.--hidden{
    overflow: hidden !important;
  }

  .hero-btn{
    margin-inline: auto;
  }
  
  .main-header {
    width: 100%;
    height: auto;
  }

  .trustpilot-review img{
    width: 30%;
  }

  .header {
    width: 100%;
    min-width: 0px;
    max-width: none;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .header ul li{
    font-size: 15px;
  }

  .header ul li a{
    display: block;
  }

  .regionSelectorContainer{
    right: 40px;
    height: 60px;
  }

  .mobile-hide{
    display: none;
  }

  .regionSelector-items{
    top: 60px;
  }

  .navigation, .navigation.--dev {
    width: 80%;
    margin: 0;
    display: block;
    float: right;
    position: absolute;
    left: -100%;
    margin: 0px;
    padding-bottom: 150px;
    padding-left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.2s ease-in-out;
    background: #ffffff;
    top: 60px;
    z-index: 2;
    height: calc(100vh - 200px);
  }

  .navigation.--active{
    left: 0;
    transition: .5s ease-in-out;
  }

  .navigation .lang{
    right: auto;
  }

  .operator, .small-topHeader .paymentMethods{
    display: none;
  }

  .small-topHeader .paymentMethods.weather{
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
  }

  .temp{
    font-size: 16px;
  }

  /* Jubilæum  */
  .jubi-banner-image-2{
    right: 0;
    opacity: .5;
    z-index: 0;
    object-fit: cover;
  }

  .jubi-banner{
    grid-template-columns: repeat(1, 1fr);
  }

  .jubi-banner > .bgFlow-banner, .jubi-banner > .bgFlow-banner-2{
    height: 100%;
    display: none;
  }

  .jubi-banner > .bgFlow-banner path, .jubi-banner > .bgFlow-banner-2 path{
    stroke-width: 10px !important;
    stroke: rgba(23, 186, 187, 1) !important;
  }

  .jubi-banner > .bgFlow-banner-2{
    clip-path: polygon(65% 60%, 51% 33%, 64% 23%, 91% 69%, 96% 89%, 68% 90%, 43% 85%, 45% 69%, 51% 63%, 62% 62%);
  }

  /* Sidenavigation */
  .sideMenu{
    width: 100%;
    padding: 10px 30px;
    grid-template-columns: 1fr;
  }
  .sideNavigation__menu{
      align-items: center;
      flex-direction: column;
      position: absolute;
      overflow: hidden;
      left: -100%;
      transition: all .25s ease-in-out;
      width: 80%;
      top: 109px;
      background: #ffffff;
      border-bottom: 1px solid rgba(22, 22, 22, .16);
      z-index: 2;
  }

  .sideNavigation__menu.active{
      left: 0%;
      transition: all .5s ease-in-out;
  }

  .sideNavigation__menu a{
      margin: 10px 0px;
  }

  .sideNavigation {
      height: auto;
      transition: all .5s ease-in-out;
      padding: 0px;
  }

  .sideNavigation__menu_icon {
      height: 80px;
  }

  .mobile-visible{
    display: none;
    margin-inline: auto;
    width: max-content;
  }

  .menu_icon.--active .menu_line:first-child{
    opacity: 0;
  }

  .menu_icon.--active .menu_line{
    transform: rotate(45deg);
  }

  .menu_icon.--active .menu_line:last-child{
    transform: rotate(-45deg) translate(6px, -8px);
  }

  .header .lang_chooser{
    justify-content: center;
  }

  .lang{
    right: 90px;
    height: auto;
  }

  .lang_container {
    display: block;
    box-shadow: none;
    position: absolute;
    text-align: center;
    min-height: 0;
    right: 0;
    overflow: hidden;
    width: 100px;
  }

  .lang_container.--active{
    z-index: 3;
    box-shadow: inset 0px 10px 9px -5px rgba(0, 0, 0, 0.4);
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid #c4c4c4;
    transition: all .5s ease-in-out;
  }

  .lang_container.--active a, .subMenu__anchor, .dropdown-item{
    color: #2e2e2e !important;
  }

  .lang_container.nav, .lang_container.nav.--active{
    position: relative;
    top: 0;
    width: 100%;
    transition: all .5s ease-in-out;
  }

  .subSubMenu.--active{
    position: relative;
    left: 0;
    transition: all .5s ease-in-out;
  }

  .lang_container a {
    display: block !important;
  }

  .search-container-bg-img{
    right: 0;
    height: 50%;
    opacity: .75;
  }

  .hero-video{
    width: 100%;
  }

  .search-container-content{
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 15px;
  }

  .hero-overlay{
    height: 50%;
  }

  .jubi-banner .hero-overlay{
    height: 100%;
  }

  .jubi-banner .css-jwstly{
    max-width: 1622px;
  }

  .css-jwstly{
    left: -500px;
    height: 100%;
    max-width: 950px;
  }

  .banner {
    width: 100%;
  }

  .event__banner{
    height: 1000px;
  }

  .welcomes-txt{
    padding: 0;
  }

  /* Modular */
  .infoModular__content{
    width: 100%;
    padding: 15px;
  }

  /* Offer */
  .offer__c{
    padding-top: 0;
  }

  /* Promo */
  .promoBanner{
    left: 0;
    top: 69px;
    left: auto;

    font-size: 20px;
    border-radius: 0;
    width: 250px;
    height: 80px;
  }


  .banner_container, .info-content {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  /* Hero Video */
  .hide-phone{
    display: none; 
  }

  .phone-only{
    display: block;
  }

  .lp {
    transform: translateX(-45%) scale(0.6);
  }

  .welcomes-content {
    width: 100%;
    padding-left: 15px;
  }

  .welcome_img {
    display: block;
    width: calc(100% - 20px);
    height: auto;
    min-height: 150px;
    right: 0;
    position: relative;
    margin: auto;
    top: -20px;
  }

  .welcome_img img,
  .welcome_img iframe {
    width: 100%;
    height: auto;
  }

  .welcome_img iframe{
    height: 200px;
  }

  .forms{
    height: 600px;
  }

  .header.--dev .logo_container{
    width: 240px;
  }

  .developers-logo{
    left: 130px;
    top: 19px;
    font-size: 1.25rem;
  }

  .logo_container a {
    width: 100px;
    height: 100px;
    left: 10px;
    top: -15px;
    float: left;
  }

  .right {
    right: 0px;
  }

  .rp {
    left: -575px;
    top: -921px;
  }

  .grid, .grid-3{
    grid-template-columns: 1fr !important;
  }

  .image_container-s{
    grid-template-columns: 1fr 1fr;
  }

  .news-content-link:nth-child(1),.news-content-link:nth-child(2), .news-content-link:nth-child(3){
    grid-column: 1/4;
  }

  /* .navigation ul{
      	height: 0px;
        float: right;
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0px;
        padding: 0;
        overflow: hidden;
        transition: all .5s ease-in-out;
        background: #046C6D;
        margin-top: 80px;
    } */

  .navigation ul li {
    display: block;
    width: 100%;
    text-align: center;
  }

  .btn_container {
    position: relative;
    z-index: 1;
    height: 60px;
  }

  .currentRegion{
    display: none;
  }

  .search-container-content .btn_container{
    display: flex;
    flex-direction: column-reverse;
    left: 0;
    margin-inline: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    float: none;
    height: auto;
  }

  .cookie-settings__container{
    width: 100%;
    left: 0;
    bottom: -100%;
    height: auto;
  }

  .cookie-settings__container.cookie-settings__container--expand{
    bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .cookie_banner_container{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(0,0);
  }

  .cookie-btn{
    width: 100%;
    float: none;
  }

  .cookie_banner_info .btn_container{
    left: 0;
    height: auto;
    flex-direction: column;
  }

  .menu_icon {
    display: flex;
    float: right;
    width: 80px;
    height: 60px;
    position: absolute;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .menu_line {
    width: 35px;
    height: 3px;
    background-color: #2e2e2e;
    margin: 9px 0;
    transition: all .5s ease-in-out;
  }

  .grdin {
    width: 100%;
    display: block;
    background-attachment:scroll;
  }

  .faq-bg{
    background-attachment:scroll;
  }

  .innertxt {
    width: 100%;
  }

  .modular {
    width: 100%;
    height: 100%;
  }

  .loader {
    width: 100px;
    height: 47px;
  }

  .grdin-content {
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .inttext {
    padding: 0px;
  }

  .sun-welcomes {
    top: -70px;
  }

  .content {
    width: 100%;
    margin-top: 100px;
    box-sizing: border-box;
  }

  .special__margin{
    margin-top: 290px;
  }

  .info_container{
    height: auto;
  }

  .main-container .content {
    margin-top: 0px;
  }

  .press-news {
    width: 100%;
  }

  .left-side,
  .sidebar {
    width: 100%;
    float: left;
  }

  .ticket-grid{
    grid-template-columns: 1fr;
  }

  .ticket {
    width: 100%;
  }

  .wide-img .news-img {
    height: 300px;
  }

  .footer_nav {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0px;
  }

  .footer_nav .le {
    float: none;
    width: 100%;
    position: relative;
    height: auto;
  }

  .footer_logo {
    float: none;
    width: 70%;
    margin: auto;
  }

  .legalc {
    display: block;
  }

  .terms a,
  .terms {
    width: 100%;
    float: none;
    margin-top: 10px;
    display: block;
  }

  .terms {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .copy {
    width: 100%;
    float: none;
    padding: 20px 0px;
    text-align: center;
    flex-direction: column-reverse;
  }

  .g-maps {
    height: 300px;
  }

  .sponsore_container{
    width: 100%;
    margin: auto;
    padding: 25px;
  }

  .sponsoreLogo__container{
    padding: 0;
  }
  
  .sponsore_container.--top{
    position: relative;
  }

  /* .sponsore{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    grid-auto-columns: min-content;
  } */
  
  .sponsore__flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sponsoreLogo{
    filter: none;
    padding: 10px;
    border: none;
    width: 100%;
    max-width: 150px;
  }
  
  .sponsoreLogo__container:last-child .sponsoreLogo{
    max-height: auto;
  }

  /* Booking */
  .bookingPage{
    aspect-ratio: 9/16;
    height: 3000px;
  }

  .booking_bg {
    height: 1071px;
  }

  .booking__title {
    width: 100%;
    left: 0px;
    font-size: 26px;
    top: 150px;
  }

  /* .booking {
    width: 90%;
    top: 130px;
  } */

  .booking__label {
    width: 100%;
    margin: 10px 0px;
  }

  .change {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }

  .change:after {
    border-bottom-color: #a7a7a7;
    border-top-color: #a7a7a7;
    border-right-color: transparent;
    border-left-color: transparent;
  }

  .booking__top {
    grid-template-columns: 1fr;
  }

  .booking__weather {
    order: -1;
    top: 170px;
    transform: scale(0.8);
    right: -33px;
  }

  .weather__temp {
    font-size: 130px;
  }

  .weather__icon {
    top: -110px;
    left: 10px;
    width: 57%;
    height: 210px;
  }

  .weather__place {
    right: 0px;
  }

  .booking__label--rightcircle {
    clip-path: polygon(
      40% 100%,
      41.39% 90.9%,
      43.24% 83.47%,
      45.42% 78.95%,
      46.98% 77.14%,
      48.52% 74.99%,
      50.2% 74.45%,
      52.6% 75.52%,
      55.12% 78.02%,
      56.46% 82.06%,
      58.12% 90.47%,
      59.87% 100%,
      100% 99%,
      100% 0%,
      0px 0px,
      0% 99%
    );
  }

  .booking__label--leftcircle {
    clip-path: polygon(
      0% 0%,
      38.92% 2.98%,
      40.49% 14.86%,
      42.12% 25.59%,
      44.36% 33.56%,
      47.46% 38.09%,
      49.94% 38.48%,
      52.99% 36.79%,
      55.64% 31.54%,
      57.2% 28.03%,
      58.84% 20.02%,
      60.04% 9.51%,
      60.6% -1.49%,
      100% 0%,
      100% 100%,
      0px 100%
    );
  }

  .booking__label--indent {
    padding: 10px;
  }

  .booking__navitem {
    padding: 19px 25px;
  }

  .booking__submit {
    font-size: 20px;
  }

  .navigation-status{
    flex-direction: column;
  }

  /* Forening */
  .sideNavigation, .payment__grid{
    grid-template-columns: 1fr;
  }

  .sideNavigation{
    height: auto;
    transition: all .5s ease-in-out;
  }

  #ui-datepicker-div{
    left: 0 !important;
    width: 100% !important;
  }
  .ui-datepicker-multi-3 .ui-datepicker-group{
    width: 100% !important;
    float: none !important;
  }

  .ui-datepicker td:nth-child(2){
    left: 0 !important;
  }

  /* Personen Verkehr */
  .reverse {
    order: 1;
  }

  /* Scheudle */
  .route-line{
    width: 30%;
  }

  .harbor .route-line{
    width: 20%;
  }

  .price{
    font-size: 25px;
    width: 130px;
  }

  .ticket__destination{
    font-size: 22px;
  }

  .special-events img{
    order: -1;
  }
}

@media screen and (max-width: 1501px) {
  .currentRegion{
    display: none;
  }
}

@media screen and (min-width: 1230px) and (max-width: 1454px){
  .welcomes-content {
    width: 100%;
    left: 0px;
  }

  .currentRegion{
    display: none;
  }

  /* .header ul li a {
    padding: 15px 20px;
  } */

  .right {
    right: -550px;
    width: 762px !important;
  }

  .welcome_img {
    width: 500px;
    height: 290px;
  }

  .welcome_img iframe {
    width: 500px;
    height: 290px;
  }

  .modular {
    width: 90%;
    height: 680px;
  }

  .regionSelectorContainer{
    float: none;
  }
}

@media screen and (min-width: 1451px) and (max-width: 1439px) {
  .welcomes-content {
    width: 100%;
    left: 0px;
  }

  .header ul li a {
    padding: 30px 20px;
  }

  .right {
    right: -550px;
    width: 762px !important;
  }

  .welcome_img {
    width: 500px;
    height: 290px;
  }

  .welcome_img iframe {
    width: 500px;
    height: 290px;
  }

  .modular {
    width: 90%;
    height: 680px;
  }

}

@media screen and (min-width: 250px) and (max-width: 900px) {
  .ticket-cta{
    top: 290px;
  }
}
