:root{
  --companyColor: rgba(4, 108, 109, 1);
  --fontColor: #1c1c1c;
  --backgroundColor: rgba(255,255,255, 1);
  --headerColor: #ebebeb;
  --heroHeadline: 40px "Montserrat", Arial, Helvetica, sans-serif;
  --heroHedlineColor: rgb(110, 110, 110);
  --accentColor: rgba(0, 51, 153, 1);
  --colorHover: rgb(0, 83, 248);
  --aboutColor: var(--aboutColorMain);
  --aboutColorVarient: rgb(201, 226, 255);
  --aboutColorMain: rgb(253, 246, 240);
  --promoBG: rgba(0, 70, 209, 1);
  --tourDeFranceColor: #ff0;
  --trustpilot-review-color: #044748;
}

/* @media (prefers-color-scheme: dark) {
  :root{
    --backgroundColor: rgb(53, 53, 53);
    --headerColor: rgb(43, 43, 43);
    --fontColor: #b9b9b9;
  }
} */

/* Fonts */
@font-face {
  font-family: Galibier;
  src: url("https://www.letour.fr/dist/fonts/galibier-light-b04fc9f902.eot");
  src: url("https://www.letour.fr/dist/fonts/galibier-light-b04fc9f902.eot?#iefix") format("embedded-opentype"), url("https://www.letour.fr/dist/fonts/galibier-light-6f9481b86f.woff2") format("woff2"), url("https://www.letour.fr/dist/fonts/galibier-light-61ceab019b.woff") format("woff"), url("https://www.letour.fr/dist/fonts/galibier-light-29fd5b11f0.ttf") format("truetype"), url("https://www.letour.fr/dist/fonts/galibier-light-70810db4ac.svg#galibierlight") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display:swap
}

@font-face {
  font-family: Galibier;
  src: url("https://www.letour.fr/dist/fonts/galibier-lightitalic-f8f30ee7a5.eot");
  src: url("https://www.letour.fr/dist/fonts/galibier-lightitalic-f8f30ee7a5.eot?#iefix") format("embedded-opentype"), url("https://www.letour.fr/dist/fonts/galibier-lightitalic-a4ed16b192.woff2") format("woff2"), url("https://www.letour.fr/dist/fonts/galibier-lightitalic-8c8db31d11.woff") format("woff"), url("https://www.letour.fr/dist/fonts/galibier-lightitalic-e0429a2d38.ttf") format("truetype"), url("https://www.letour.fr/dist/fonts/galibier-lightitalic-4c9b65e0cb.svg#galibierlight") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display:swap
}

@font-face {
  font-family: Galibier;
  src: url("https://www.letour.fr/dist/fonts/galibier-regular-9c043c1338.eot");
  src: url("https://www.letour.fr/dist/fonts/galibier-regular-9c043c1338.eot?#iefix") format("embedded-opentype"), url("https://www.letour.fr/dist/fonts/galibier-regular-144d0b8f66.woff2") format("woff2"), url("https://www.letour.fr/dist/fonts/galibier-regular-1326f88517.woff") format("woff"), url("https://www.letour.fr/dist/fonts/galibier-regular-03e6838d04.ttf") format("truetype"), url("https://www.letour.fr/dist/fonts/galibier-regular-ad1e2a6cf3.svg#galibierlight") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display:swap
}

@font-face {
  font-family: Galibier;
  src: url("https://www.letour.fr/dist/fonts/galibier-regularitalic-a39241f3b0.eot");
  src: url("https://www.letour.fr/dist/fonts/galibier-regularitalic-a39241f3b0.eot?#iefix") format("embedded-opentype"), url("https://www.letour.fr/dist/fonts/galibier-regularitalic-6b3b6800a2.woff2") format("woff2"), url("https://www.letour.fr/dist/fonts/galibier-regularitalic-0c3ad37d78.woff") format("woff"), url("https://www.letour.fr/dist/fonts/galibier-regularitalic-6afa6515d1.ttf") format("truetype"), url("https://www.letour.fr/dist/fonts/galibier-regularitalic-e9680b77b6.svg#galibierlight_italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-display:swap
}

@font-face {
  font-family: Galibier;
  src: url("https://www.letour.fr/dist/fonts/galibier-regular-9c043c1338.eot");
  src: url("https://www.letour.fr/dist/fonts/galibier-regular-9c043c1338.eot?#iefix") format("embedded-opentype"), url("https://www.letour.fr/dist/fonts/galibier-regular-144d0b8f66.woff2") format("woff2"), url("https://www.letour.fr/dist/fonts/galibier-regular-1326f88517.woff") format("woff"), url("https://www.letour.fr/dist/fonts/galibier-regular-03e6838d04.ttf") format("truetype"), url("https://www.letour.fr/dist/fonts/galibier-regular-ad1e2a6cf3.svg#galibierregular") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display:swap
}

@font-face {
  font-family: Galibier;
  src: url("https://www.letour.fr/dist/fonts/galibier-regularitalic-a39241f3b0.eot");
  src: url("https://www.letour.fr/dist/fonts/galibier-regularitalic-a39241f3b0.eot?#iefix") format("embedded-opentype"), url("https://www.letour.fr/dist/fonts/galibier-regularitalic-6b3b6800a2.woff2") format("woff2"), url("https://www.letour.fr/dist/fonts/galibier-regularitalic-0c3ad37d78.woff") format("woff"), url("https://www.letour.fr/dist/fonts/galibier-regularitalic-6afa6515d1.ttf") format("truetype"), url("https://www.letour.fr/dist/fonts/galibier-regularitalic-e9680b77b6.svg#galibierregular_italic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display:swap
}

@font-face {
  font-family: Galibier;
  src: url("https://www.letour.fr/dist/fonts/galibier-bold-3222e5e171.eot");
  src: url("https://www.letour.fr/dist/fonts/galibier-bold-3222e5e171.eot?#iefix") format("embedded-opentype"), url("https://www.letour.fr/dist/fonts/galibier-bold-2e962f4581.woff2") format("woff2"), url("https://www.letour.fr/dist/fonts/galibier-bold-b9ebdad369.woff") format("woff"), url("https://www.letour.fr/dist/fonts/galibier-bold-778c30e45c.ttf") format("truetype"), url("https://www.letour.fr/dist/fonts/galibier-bold-47dcdebf2e.svg#galibierbold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display:swap
}

@font-face {
  font-family: Galibier;
  src: url("https://www.letour.fr/dist/fonts/galibier-bolditalic-c5041fa911.eot");
  src: url("https://www.letour.fr/dist/dist/fonts/galibier-bolditalic-c5041fa911.eot?#iefix") format("embedded-opentype"), url("https://www.letour.fr/dist/fonts/galibier-bolditalic-011b3ee461.woff2") format("woff2"), url("https://www.letour.fr/dist/fonts/galibier-bolditalic-e277a233ae.woff") format("woff"), url("https://www.letour.fr/dist/fonts/galibier-bolditalic-f2b2670cec.ttf") format("truetype"), url("https://www.letour.fr/dist/fonts/galibier-bolditalic-ea57098d90.svg#galibierbold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: "Rare Script";
  src: url("https://assets.intastellarsolutions.com/fonts/rarescript-regular.woff2")
      format("woff2"),
    url("https://assets.intastellarsolutions.com/fonts/rarescript-regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

/* End of fonts */
.tdf-font{
  font-family: Galibier,Helvetica,Arial,sans-serif !important;
}

* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 140px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--fontColor);
  background-color: var(--backgroundColor);
}

dialog{
  z-index: 2000;
  border: none;
  border-radius: 10px;
  min-width: 600px;
  max-width: 1200px;
  padding: 25px;
  position: fixed;
  border: 3px solid var(--companyColor);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

dialog::backdrop{
  background-color: rgba(0,0,0,0.5);
}

dialog .grid{
  gap: 50px;
}

dialog menu{
  padding: 0;
}

.close-dialog{
  border: none;
  float: right;
  padding: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--companyColor);
  display: grid;
  place-content: center;
  color: #f1f1f1;
  margin-left: auto;

}

.dialog-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  place-items: center;
}

.dialog-header img{
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #00a0a0;
}

a:hover{
  color: #7a7a7a;
  text-decoration: underline;
}

.clear {
  clear: both;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #1c1c1c;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:-moz-autofill {
  -moz-text-fill-color: #1c1c1c;
  -moz-box-shadow: 0 0 0px 1000px white inset;
}
input:-o-autofill {
  -o-text-fill-color: #1c1c1c;
  -o-box-shadow: 0 0 0px 1000px white inset;
}
input:-khtml-autofill {
  -khtml-text-fill-color: #1c1c1c;
  -khtml-box-shadow: 0 0 0px 1000px white inset;
}

input:focus:-webkit-autofill {
  -webkit-text-fill-color: #1c1c1c;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-moz-autofill {
  -moz-text-fill-color: #1c1c1c;
  -moz-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-o-autofill {
  -o-text-fill-color: #1c1c1c;
  -o-box-shadow: 0 0 0px 1000px white inset;
}
input:focus:-khtml-autofill {
  -khtml-text-fill-color: #1c1c1c;
  -khtml-box-shadow: 0 0 0px 1000px white inset;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--companyColor); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.hidden{
  display: none;
}

.flex{
  display: flex;
  align-items: center;
}