.hero__slider{
    width: 100%;
    height: 750px;
    position: relative;
    background: #fff;
    overflow: hidden;
    /* top: 80px; */
}

.hero__slider-headline{
    font: var(--heroHeadline);
    color: var(--heroHedlineColor);
    word-break: break-word;
}

.hero__slider-slides{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    padding: 0px 150px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    /* transition-delay: 5ms; */
    background: var(--headerColor);
}

.hero__slider-slidescontent{
    height: 100%;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 90rem;
    position: relative;
}

.hero__slider-col.--content{
    background: rgba(255,255,255, .9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__slider-col.--content.--blackBG{
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.hero__slider-headline.tdf-font{
    color: #fff;
}

.special__logo{
    width: 30%;
    margin-bottom: -25px;
}

.hero__slider-col{
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
}

.hero__slider-col.reverse{
    flex: 0 1 50%;
}

.hero__slider-col-content {
    margin-bottom: 4.75rem;
    margin-top: 4.6875rem;
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
}

.hero__slider-col.--img-col{
    padding-top: 50px;
    overflow: hidden;
    width: 100%;
    max-width: 42.75rem;
    max-height: 900px;
    margin-right: 2.1875rem;
    display: block;
}

.hero__slider-img{
    width: 513px;
    height: 100%;
    display: block;
    object-fit: cover;
    margin-right: 2.1875rem;
}

.hero__slider-img.--small{
    height: auto;
    width: 25rem;
    object-fit: contain;
}

.arrows{
    position: absolute;
    z-index: 2;
    font-size: 30px;
    text-align: center;
    top: 50%;
    cursor: pointer;
}

.arrows.left{
    left: 10px;
}

.arrows.right{
    right: 10px;
}

.hero__slider-bgVideo{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.--video{
    object-fit: initial;
    height: 144%;
}

.indicator{
    display: flex;
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: #e6e6e6;
    border-radius: 50%;
}

.num-indicator{
    background-color: #fff;
    padding: 5px 10px;
    width: max-content;
}

@media screen and (max-width: 900px) and (min-width: 320px){
    .hero__slider-col{
        flex: 0 0 0;
    }

    .hero__slider-slidescontent{
        flex-direction: column;
        width: 100%;
        max-width: 900px;
    }

    .hero__slider-col-content{
        width: 100%;
    }

    .hero__slider-slides{
        padding: 10px;
    }

    .hero__slider-headline{
        font-size: 1.5em;
    }
}