@import url("./fonts/Montserrat.css");
/* Config */
address{
  font-style: normal;
}

fieldset{
  border: none;
  padding: 0;
}

fieldset:disabled{
  opacity: 0.5;
}

fieldset:disabled *{
  cursor: not-allowed;
}

fieldset:disabled button:hover{
  transform: none;
}

img{
  max-width: 100%;
}

.strong{
  font-weight: bold;
}

.config{
  cursor: pointer;
}

.date-highlight{
  font-size: 1.5em;
  display: block;
  color: #00566f;
}

.main-header {
  width: 100%;
  height: auto;
  /* background-image: linear-gradient(to right, rgba(4, 107, 109, 1), rgba(0, 71, 88, 1)); */
  background-color: var(--headerColor);
  position: relative;
  z-index: 1000;
  transition: all .5s ease-in-out;
  border-top: 8px solid rgb(4, 108, 109);
}

.main-header.--fixedHeader{
  position: fixed;
  top: 0;
  /* background-image: linear-gradient(to right, rgba(4, 107, 109, 1), rgba(0, 71, 88, 1)); */
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.49);
}

.main-header-transparent {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1000;
  background: transparent;
}

.header {
  width: auto;
  height: auto;
  margin: auto;
  position: relative;
  z-index: 2;
  min-width: 1100px;
  max-width: 1600px;
  padding: 0px 10px;
}

.sideNavigation.--fixed{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.sideNavigation{
  background: rgba(181, 181, 181, 0.97);
  position: relative;
  border-bottom: 1px solid rgba(22, 22, 22, .16);
}

.sideMenu{
  width: 1200px;
  height: 100%;
  margin: auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: .5fr 1fr;
}

.sideNavigation__menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
}

.sideNavigation__menu .sideNavigation__menu__links{
  display: block;
  padding: 10px 25px;
  color: #838383;
  width: max-content;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  margin: auto;
  cursor: pointer;
}

.sideNavigation__menu .sideNavigation__menu__links.--dropdown{
  margin-top: 10px;
}

.sideNavigation__menu .sideNavigation__menu__links:hover{
  text-decoration: none;
}

.sideNavigation__menu .sideNavigation__menu__links:hover:before{
  content: "";
  display: block;
  margin: 15px auto;
  width: 60px;
  height: 1px;
  border-top: 1px solid;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.sideNavigation .menu_line{
  background-color: #838383;
}

.header a, .main-header.--fixedHeader .header a{
  color: var(--fontColor);
}

.main-header.--fixedHeader .logo_container a{
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.14), 0 4px 3px rgba(0, 0, 0, 0.28);
}

.main-header-transparent .header a{
  color: #f1f1f1;
}

.header a:focus, .header a:focus-within, .header a:focus-visible{
  outline: 1px solid #000;
}

.header ul {
  list-style-type: none;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header ul li {
  display: block;
  padding: 0;
  position: relative;
  font-size: 17px;
}

.small_navigation ul {
  list-style-type: none;
}

.small_navigation ul li {
  display: inline-block;
  padding: 0;
}

.small_navigation ul li a {
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
}

.header ul li a, .header ul li span {
  display: inline-block;
  text-decoration: none;
  padding: 30px 15px;
  position: relative;
  font-size: 17px;
}

.dropdown-item{
  padding: 30px 15px !important;
  color: #fff;
}

.highlight{
  background-color: rgb(255, 255, 0);
  color: #000 !important;
}

.highlight.--popular{
  background-color: rgb(59, 169, 0);
  color: #ffffff !important;
  width: 100%;
  margin:0;
  margin-bottom: 20px;
  float: right;
  padding: 15px 30px;

  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.highlight.--special{
  background-color: rgb(0, 152, 169);
  color: #ffffff !important;
  width: 100%;
  margin:0;
  margin-bottom: 20px;
  float: right;
  padding: 15px 30px;

  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

/* .header ul li a:hover:after,
.header ul li a:focus:after,
.header ul li span:focus:after,
.header ul li span:hover:after{
    content: "";
    display: block;
    margin: 15px auto;
    width: 60px;
    height: 1px;
    border-top: 1px solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
} */

.header ul li a:hover,
.header ul li a:focus,
.header ul li span:focus,
.header ul li span:hover{
    background-color: rgb(41, 41, 41);
    color: #fff;
}

.main-header.--fixedHeader ul li a:hover,
.main-header.--fixedHeader ul li a:focus,
.main-header.--fixedHeader ul li span:focus,
.main-header.--fixedHeader ul li span:hover{
    background-color: rgb(41, 41, 41);
    color: #fff;
}

.currentStop{
  padding-right: 10px;
  color: #00791a;
  text-align: right;
}

.menu_icon {
  display: none;
}

.logo_container{
  position: relative;
  width: max-content;
}

.logo_container a{
  float: left;
  border-radius: 50%;
  /* overflow: hidden; */
  position: absolute;
  top: -20px;
  width: 125px;
  height: 125px;
  background: var(--headerColor);
  clip-path: polygon(-1px 16%, 110% 16%, 110% 110%, -50% 110%);
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;
}

.developers-logo{
  position: absolute;
  left: 145px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  top: 30px;
}

.developers-logo::before{
  content: "";
  display: block;
  width: 2px;
  height: 40px;
  position: absolute;
  left: -10px;
  background-color: currentColor;
}

/* .logo_container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
} */

.logo_container img {
  object-fit: contain;
  width: 70%;
  margin-top: 15px;
}

.svg_logo {
  width: 90%;
  margin-top: 20px;
}

.navigation {
  width: max-content;
  height: 80px;
  margin-left: 125px;
  padding-left: 25px;
  float: left;
}

.navigation.--dev{
  margin-left: 300px;
}

.header a.--active{
  background: rgb(41, 41, 41);
  color: #fff !important;
}

/* Modular */
.infoModular{
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: grid;
  place-content: center;
}

.infoModular__content{
  width: 900px;
  height: 400px;
  background: rgba(255, 255, 255, 1);
  display: grid;
  place-content: center;
  text-align: center;
  border-radius: 15px;
  position: relative;
}

.infoModular__date{
  font-size: 20px;
  font-weight: bold;
}

.infoModular.hide{
  display: none;
}

.infoModular__close{
  width: fit-content;
  background: #046c6d;
  color: #fff;
  padding: 15px 30px;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Promo banner */

.promoBanner{
  float: right;
  padding: 15px;
  position: absolute;
  left: -110px;
  top: -20px;
  clip-path: polygon(1px 15%, 110% 15%, 110% 110%, -50% 110%);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.68);
  background-image: url("https://www.cykelfaergen.infohttps://www.cykelfaergen.info/images/bg/AdobeStock_105076852.jpeg");
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  color: #fff;
  background-color: rgb(255, 255, 0);
}

.promoBanner:hover{
  text-decoration: none;
  color: #fff;
}

/* Hero Video */
.phone-only{
  display: none;
}

.search-container{
  display: grid;
  place-content: center;
  position: relative;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  background-color: #046c6d !important;
  height: 840px !important;
}

.services-banner-content{
  padding: 0 10px;
}

/* Banner */

svg {
  fill: currentcolor;
}

.hero-video{
  max-width: 560px;
  width: 560px;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.search-container-bg-img{
  width: 100%;
  height: 100%;
  right: -200px;
  object-fit: cover;
  position: absolute;
}

.search-container-bg{
  width: 100%;
  height: 100%;
  position: absolute;
}

.search-container-content{
  width: 100%;
  height: 100%;
  left: 0;
  display: grid;
  color: #fff;
  position: relative;
  padding: 100px;
}

/* SubBanner */
.subbanner{
  width: 100%;
  min-height: 600px;
  max-height: 750px;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: #046c6d;
}

.subbanner-content{
  display: grid;
  place-content: center;
  height: 100%;
  max-width: 45%;
  position: absolute;
  padding: 15px 40px;
  color: #fff;
}

.subbanner-img{
  right: -600px;
}

.subbanner-subheading{
  font-size: 1.4rem;
}

.subbanner-heading{
  font-size: 2.5rem;
  margin-top: 0px;
}

.photo-copyright{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
}

.photo-copy-underImage{
  display: block;
}

/* Full Width Image */
.fullWidthImage{
  background-image: url("https://press.cykelfaergen.info/materials/pressemateriale/thjalfe/min/IMG_0363-min.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  width: 100%;
  height: 100vh;
}

.image-1{
  background-image: url("https://press.cykelfaergen.info/materials/pressemateriale/thjalfe/min/IMG_0764-min.jpg");
}

/* Tooltip */
.tool-tip{
  position: relative;
  cursor: pointer;
  width: 250px;
  min-width: 250px;
  height: max-content;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  inset: unset;
  bottom: anchor(top);
  z-index: 1;

}

#tooltip{
  width: 15px;
  height: 15px;
  padding: 15px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--companyColor);
  cursor: pointer;
  border: none;
  margin-left: 10px;
}
/* Configurator */
.configurator .domain{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #646464;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.configurator .domain:last-of-type{
  margin-right: 0;
}

.configurator-nav{
  display: block;
  padding: 15px;
  width: 100%;
  transition: all .25s ease-in-out;
}

.configurator-nav:hover{
  text-decoration: none;
  background-color: #046c6d;
  color: #fff;
  border-radius: 5px;
}

/* Trustpilot */

.Trustpilot-reviews{
  padding: 100px 0px;
  /* background-color: #e6e6e6; */
  background-color: var(--trustpilot-review-color);
  color: #fff;
  overflow: hidden;
  display: flex;
  position: relative;
}

.tp-fading{
  overflow-x: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tp-fading::after, .tp-fading::before{
  position: absolute;
  display: block;
  content: "";
  width: 45px;
  height: 100%;
  top: 0;
  z-index: 1;
}

.tp-fading::after{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--trustpilot-review-color));
  right: 0;
}
.tp-fading::before{
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), var(--trustpilot-review-color));
  left: 0;
}

.buttonContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0px 10px;
  z-index: 2;
}

.verticalScroll-btn{
  height: 100%;
  background-color: transparent;
  color: #ababab;
  border: 1px solid;
  cursor: pointer;
  font-size: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  padding: 5px;
  z-index: 2;
  transition: all .5s ease-in-out;
  justify-content: center;
}

.verticalScroll-btn.--next{
  right: 10px;
  text-indent: -73px;
}

.verticalScroll-btn.--next .down-arrow{
  margin-left: -4px;
  padding: 5px;
}

.verticalScroll-btn.--prev .up-arrow{
  margin-left: 4px;
  padding: 5px;
}

.verticalScroll-btn.--prev{
  left: 10px;
  opacity: 0;
  text-indent: -86px;
}

.trustpilot-review-state {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trustScoreTotal{
  margin-right: 10px;
  font-weight: lighter;
  font-size: 40px;
  text-align: center;
}

.reviews-header-review-stars{
  margin-inline: auto;
}

.trustScore a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.trustpilot-logo-reviews{
  max-width: 100px;
  padding-left: 10px;
}

.trustpilot_avg{
  display: block;
  margin: 10px auto;
}

.intaad-link{
  position: relative;
  display: block;
}

.inta-adSign{
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #fff;
  padding: 5px 15px;
}

.intaMiniContentSlider{
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  transition: scroll 1s ease-in-out;
}

.intaMiniContentSlider::-webkit-scrollbar{
  display: none;
}

.intaSlides{
  width: 550px;
  transition: scroll 1s ease-in-out;
}

.verticalScroll-btn{
  display: flex;
  align-items: center;
  position: absolute;
}

.trustpilot-review-state{
  font-weight: lighter;
}

.reviewStatus{
  color: #444444;
  margin-left: 10px;
  text-transform: capitalize;
}

.reviewContainer{
  display: flex;
  align-items: flex-end;
  gap: 20px;
  width: max-content;
  padding-left: 45px;
  padding-right: 45px;
}

.Trustpilot-reviews-header{
  padding: 0 40px;
  display: flex;
  width: 381px;
  height: 298px;
  flex-shrink: 0;
  justify-content: center;
  flex-direction: column;
}

.trustScore{
  display: block;
  font-weight: lighter;
  font-size: 14px;
  text-align: center;
}

.trustScore a{
  color: currentColor;
  text-decoration: underline;
}

.send-review{
  overflow: hidden;
  transform: height .5s ease-in-out;
  position: absolute;
  border: none;
  width: 50%;
  z-index: 1001;
  padding: 0;
}

.send-review::backdrop{
  background-color: rgba(0, 0, 0, 0.85);
}

.send-review[open]{

}

.write-review{
  padding: 15px;
  background: transparent;
  font-size: 12px;
  text-decoration: underline;
  color: #fff;
  border: none;
  cursor: pointer;
}

.closePopup{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 15px;
  border: none;

}

.review{
  padding: 20px 15px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 450px;
  height: 291px;
  font-size: 13px;
  font-style: normal;

  text-overflow: ellipsis;
}

.review::after{
  content: "";
}

.profileImage{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.review-title{
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.starImage{
  margin-right: 10px;
}

.verified-review{
  margin-right: 10px;
  color: #c0c0c0;
  flex-grow: 1;
  flex-shrink: 0;
}

.writtenat{
  color: #828282;
  font-size: 13px;
  margin-left: auto;
}

.review-card:hover{
  text-decoration: none;
}

.review-card{
  background-color: #fff;
  color: #000;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  height: 200px;
  text-overflow: ellipsis;
}

.review-card::after{
  content: "";
  position: absolute;
  bottom: -14px;
  width: 1px;
  height: 1px;
  border-top: 14px solid #fff;
  border-left: 0px solid #fff;
  border-right: 14px solid transparent;
  border-bottom: 0px solid transparent;
  display: block;
}

.review-content{
  font-weight: lighter;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 61px;
  line-height: 20px;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
}

.review-logo{
  width: 25%;
  float: right;
  clear: both;
}

.verified-review--checkmark{
  display: inline-flex;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 1em;
  background-color: #03b67a;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.profileImage{
  float: left;
  padding: 5px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  object-fit: cover;
}

.review-footer{
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #d6d6d6;
}

.review-footer:before{
  content: "";
}
/* .verified-review::before{
  content: "";
  display: inline-block;
  margin-right: 5px;
} */

.review-footer p{
  margin-top: 15px;
}

.expiernce-date{
  font-size: 12px;
}

.reviews{
  margin-bottom: 30px;
  position: relative;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.reviews a{
  color: #fff;
}

.elementor-screen-only{
  display: none;
}

.elementor-star-rating i {
  display: inline-block;
  position: relative;
  font-style: normal;
  cursor: default;
}

.review-stars{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.stars{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  color: #DDD140;
}

.search-container-content .search-container-heading{
  font-size: 2.8rem;
  margin-top: 0;
  margin-bottom: .5em;
}

.rating {
  padding: 0px 10px;
}

.css-seqzpf {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 419px;
}

.css-jwstly {
  position: absolute;
  left: -150px;
  top: 0;
  max-width: 1622px;
  width: 1622px;
}

.css-4tqk3n {
  stop-color: #046c6d;
  fill: #046c6d;
}

.hero-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 800px;
  background: url("/newsroom/news-img/IMG_1753.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0px;
  overflow: hidden;
}

.jubi-banner{
  width: 100%;
  height: 804px !important;
  position: relative;
  background-color: #e6e6e6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  place-content: center;
}

.jubi-banner-content{
  padding: 90px;
  z-index: 1;
  color: #ffffff !important;
}

.jubi-banner-image{
  position: absolute;
  bottom: 0;
  height: 750px;
  right: 50px;
  z-index: 0;
}

.jubi-banner-image-2{
  position: absolute;
  bottom: 0;
  height: 750px;
  right: 50px;
  z-index: 1;
}

.cykling-bg{
  background-image: url("https://www.cykelfaergen.info/images/bg/AdobeStock_105076852.jpeg");
  background-position: top;
  height: 400px;
}

.event-bg{
  background-image: url("https://www.cykelfaergen.info/images/bg/AdobeStock_105076852.jpeg");
}

.banner_txt {
  color: #f2f2f2;
}

.banner__headline{
  font-size: 30px;
}

.banner__headline2{
  font-size: 25px;
  color: #fff;
}

.banner__image{
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.arrow {
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;
  transition: transform .25s ease-in-out;
}

.right-arrow {
  transform: rotate(45deg) translateY(-3px) translateX(0px);
  -webkit-transform: rotate(45deg) translateY(-3px) translateX(0px);
  margin-left: 10px;
}

.down-arrow {
  transform: rotate(-45deg) translateY(0px) translateX(0px);
  -webkit-transform: rotate(-45deg) translateY(0px) translateX(0px);
}

.up-arrow {
  transform: rotate(135deg) translateY(0px) translateX(0px);
  -webkit-transform: rotate(135deg) translateY(0px) translateX(0px);
}

.regionSelectorContainer{
  position: relative;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.regionSelector{
  padding: 15px;
  height: 80px;
  display: flex;
  align-items: center;
  
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #000;
  flex-shrink: 0;
}

.regionSelector img{
  border-radius: 50%;
  object-fit: cover;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.regionSelector-items{
  position: absolute;
  display: grid;
  grid-template-rows: 0fr;
  top: 80px;
  right: 0;
  overflow: hidden;
  width: max-content;
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px); */
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14), 0 2px 3px rgba(0, 0, 0, 0.28);
  transition: all .25s ease-in-out;
}

.regionSelector-items-container{
  min-height: 0;
}

.regionSelector-items a{
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

.regionSelector-items a:hover{
  text-decoration: none;
  background-color: rgb(4, 108, 109);
  color: #fff !important;
}

.regionSelector-items .flag{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.regionSelector-items.--open{
  grid-template-rows: 1fr;
}

.regionSelector:focus, .regionSelector:focus-within{
  border: 2px solid #00a0a0;
}

.regionSelector:focus > .regionSelector-items, .regionSelector:focus-within > .regionSelector-items{
  grid-template-rows: 1fr;
}

.lang {
  position: relative;
  
  width: auto;
  float: right;
  display: flex;
  height: 80px;

  justify-content: center;
  align-items: center;
}

.small-topHeader{
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  width: auto;
  min-height: 41px;
  min-width: 1200px;
  max-width: 1500px;
  margin: auto;
}

.small-topHeader .paymentMethods{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.small-topHeader .paymentMethods img{
  max-width: 120px;
  padding: 0px 10px;
}

.weather img{
  max-height: 30px;
  aspect-ratio: 1/1;
}

.paymentMethods.weather p{
  margin: 0;
}

.visa{
  width: 80px;
}

.operator{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 480px;
  font-size: 12px;
}

.operator-logo{
  height: 50px;
  object-fit: contain;
  margin-left: 10px;
}

.trustScore-text{
  text-align: center;
  margin-top: 0;
}

.trustpilot-review{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  color: #7a7a7a;
}

.trustpilot-review:hover{
  text-decoration: none;
  color: #00a0a0;
}

.trustpilot-review img{
  width: 8%;
  margin-left: 10px;
}

.header .lang_chooser {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.subMenu__anchor{
  cursor: pointer;
}

.subSubMenu{
  top: 0;
  padding: 0;
  min-height: 0;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  flex-direction: column;
  display: grid;
  grid-template-rows: 0fr;
  transition: all .25s ease-in-out;
}

.subSubMenu a{
  color: #4e4e4e !important;
}

.lang_container ul, .subSubMenu ul{
  min-height: 0;
  flex-direction: column;
}

.lang_container {
  position: absolute;
  background: rgb(41, 41, 41);
  /* height: 0; */
  grid-template-rows: 0fr;
  overflow: hidden;
  padding: 0;
  z-index: 2;
  right: 0;
  top: 80px;
  transition: all .2s ease-in-out;
  display: grid !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.14), 0 2px 3px rgba(0, 0, 0, 0.28);
}

.lang_chooser.--active{
  background: rgb(41, 41, 41);
  color: #fff !important;
}

.lang_container li{
  overflow: hidden;
}

.lang_container.nav a:hover,
.lang_container.nav a:focus,
.lang_container.nav span:focus,
.lang_container.nav span:hover{
  background-color: rgb(4, 108, 109) !important;
  color: #fff !important;
  text-decoration: none;
}

.lang_container.nav a:hover:after,
.lang_container.nav a:focus:after,
.lang_container.nav span:focus:after,
.lang_container.nav span:hover:after{
  content: "";
  display: none;
}

.main-header.--fixedHeader .header .lang_container a{
  color: #fff;
}

.lang_container.ngo{
  background: #ffffff;
  box-shadow: 0px 13px 12px -12px rgba(0, 0, 0, 0.68);
  height: 0;
}

.lang_container.ngo .ngo__content{
  padding: 10px;
  width: auto;
  margin: 0px;
  margin-top: 0!important;
}

.lang_container.nav{
  width: max-content;
  left: 0;
}

.no-flex{
  display: block !important;
}

.lang_container a, .lang_container span{
  width: auto;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #fff;
}

.lang_container li{
  width: 100%;
}

.lang_container.--active, .subSubMenu.--active{
  grid-template-rows: 1fr;
  transition: grid-template-rows .25s ease-in-out;
  /* overflow: initial; */
}

.banner_container {
  width: 1000px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.dark {
  background: rgba(0, 0, 0, 0.7) !important;
}

.grdin-btn {
  margin: 0px !important;
}

.download__btn{
  padding: 15px 30px;
  border: 1px solid;
  border-radius: 5px;
  display: block;
  width: max-content;
}

.download__btn:hover, .download__btn:focus{
  text-decoration: none;
}

/* .banner-btn {
  margin-top: 30px;
  background: #13a3ea;
  border: none !important;
  color: #f2f2f2 !important;
  padding: 15px 30px !important;
  font-weight: bold;
} */

.btn_container {
  position: relative;
  height: 80px;
  width: max-content;
  float: right;

  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  text-align: center;
  width: auto;
  max-width: 350px;
  cursor: pointer;
  text-transform: uppercase;
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.14), 0 1px 8px rgba(0, 0, 0, 0.28); */
  transition: all 0.2s ease-in-out;
  background-color: #fff;

  color: rgb(74, 74, 74);
  padding: 15px 30px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  text-decoration: none;
}

.cta{
  display: inline-block;
  width: 100%;
  padding: 15px 30px;
  background-color: #046c6d;
  margin-bottom: 15px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.cta.--second{
  margin: 0;
  background-color: #708484;
}

dialog .cta{
  margin: 0;
  margin-top: 15px;
}

.btn-second{
  background-color: transparent;
  border: 1px solid;
  color: #fff;
  transition: all .5 ease-in-out;
}

.hero-btn{
  margin-left: 10px;
  
}


.btn:hover{
  transform: scale(1.075);
  text-decoration: none;
  color: #fff;
}
.hero-btn:hover{
  color: rgb(74, 74, 74);
}

.cta:hover{
  filter: brightness(1.25);
  text-decoration: none;
  color: #fff;
}

.btn-second:hover{
  color: rgb(74, 74, 74);
  background-color: #fff;
  border: none;
}

.header-btn {
  background-color: rgb(4, 108, 109);
  color: rgb(236, 236, 236) !important;
}

.header-btn:hover{
  color: rgb(236, 236, 236);
}

.dialog-headline{
  text-transform: uppercase;
}

/* .container {
  position: relative;
  z-index: 1;
} */

.maps-container {
  width: 100%;
  position: relative;
}

.g-maps {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-container {
  height: auto;
  margin-top: 80px;
  padding-top: 58px;
}

.g-recaptcha{
  margin-top: 10px;
}

.forms {
  position: absolute;
  height: 690px;
}

.grdin {
  width: 100%;
  height: 600px;
  background: url("https://www.cykelfaergen.info/images/slider/IMG_0512.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-attachment: fixed;
}

.grdin-overlay {
  background: linear-gradient(149deg, rgb(202, 175, 0), #046c6d);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.grdin-content {
  position: absolute;
  display: flex;
  z-index: 1;
}

.bgFlow{
  position: absolute;
  width: 100%;
  z-index: -1;
  top: -1;
  padding: 0 10px;
  aspect-ratio: 1/1;
  opacity: .25;
}

.bgFlow-banner{
  position: absolute;
  width: 100%;
  padding: 0 10px;
}

.bgFlow-banner-2{
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 0 10px;
  -webkit-clip-path: polygon(90% 111%, 68% 29%, 90% 35%, 92% 69%, 96% 89%, 72% 96%, 49% 91%, 45% 69%, 50% 75%, 62% 62%);
  clip-path: polygon(90% 111%, 68% 29%, 90% 35%, 92% 69%, 96% 89%, 72% 96%, 49% 91%, 45% 69%, 50% 75%, 62% 62%);
  
}

.flowContainer{
  position: relative;
}

.jubi-banner:has(.flowContainer){
  height: 743px !important;
}

.flowContainer .bgFlow-banner-2{
  -webkit-clip-path: polygon(90% 111%, 90% 29%, 94% 38%, 98% 69%, 100% 91%, 74% 105%, 51% 90%, 54% 81%, 44% 58%, 90% 64%);
  clip-path: polygon(90% 111%, 90% 29%, 94% 38%, 98% 69%, 100% 91%, 74% 105%, 51% 90%, 54% 81%, 44% 58%, 90% 64%);
}

.inttxt {
  padding: 5px 30px;
  font-size: 30px;
  color: #f2f2f2;
}

.agencie {
  max-width: 300px;
  width: 100%;
}

.editor{
  overflow: hidden;
  display: block;
  background-color: rgba(0,0,0,1);
  color: #fff;
  border-radius: 5px;
  max-width: max-content;
  width: 100%;
  margin-inline: auto !important;
}

.editor-content::-webkit-scrollbar-thumb{
  background-color: #c4c4c4;
}

.editor-content::-webkit-scrollbar{
  height: 3px;
  margin: 2px;
}

.editor-content::-webkit-scrollbar-track{
  background: transparent;
  padding: 2px;
}

.editor-header{
  padding: 15px;
  color: rgb(217,217,227);
  background-color: rgb(33,33,35);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-content{
  color: #fff;
  padding: 15px;
  overflow-y: hidden;
  overflow-x: auto;
}

.tag{
  color: #fff;
}

.attribute{
  color: #df3079;
}

.string{
  color: #00a67d;
}

.editor-code-title{
  color: #f22c3d;
}

.keyword{
  color:#2e95d3;
}

.copy-btn{
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(217,217,227);
  cursor: pointer;
}

.info_container {
  position: relative;
}

/* More info arrow */
.more-info{
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: content;
  align-content: center;
  margin-top: 10px;
}

.more-info p{
  text-indent: -1000px;

}

.more-info span{
  display: block;
  width: 25px;
  height: 2px;
  background-color: #00566f;
}

.more-info span:first-of-type{
  transform: rotate(45deg) translate(5px);
}

.more-info span:nth-of-type(2){
  transform: rotate(-45deg) translate(-5px);
}

.more-info.--hideDesktop{
  display: none;
}
/* Subscription */
.subscription__info{
  
}

.subscription{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
/* Compare */
.compare-header{
  text-align: center;
  padding: 25px;
  height: 50vh;
  display: grid;
  margin-bottom: 50px;
  place-content: center;
}

.compare-header h1{
  font-size: 2.25em;
}

.first-comparesing{
  text-align: center;
  padding-bottom: 120px;
}

.omnisend-form-644e5fe06a3925a0dc01c03b-content,
.omnisend-form-644e5fe06a3925a0dc01c03b-sections-container,
.omnisend-form-644e7f94e54adad5ac574ab8-content,
.omnisend-form-644e7f94e54adad5ac574ab8-sections-container,
.omnisend-form-644e8028e54adad5ac574ab9-content,
.omnisend-form-644e8028e54adad5ac574ab9-sections-container{
  max-width: 1200px !important;
}

.mail-container{
  background-color: #046c6d;
}

.right {
  right: 120px;
}

.welcome_img {
  width: 600px;
  height: 350px;
  z-index: 2;
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.14), 0 1px 8px rgba(0, 0, 0, 0.28); */
}

.welcome_img img,
.welcome_img iframe {
  width: 600px;
  height: 350px;
}

.info-content{
  position: relative;
  z-index: 1;
  top: 50px;
  width: 1200px;
  margin: auto;
}

.welcomes-content {
  width: 100%;
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  top: 25px;
}

.sun-welcomes {
  top: -35px;
}

.welcomes-content h1 {
  margin-block-start: 0.97em;
  margin-block-end: 0.97em;
  color: #21625a;
  font-size: 1.5em;
}

.welcomes-txt {
  padding: 30px;
}

.modular {
  width: 1000px;
  height: 100%;
  margin: auto;
  position: relative;
}

.loader {
  border: 5px solid #fff; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-bottom: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  float: right;
  margin-right: 30px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Offer */
.offer{
  width: 100%;
  height: 90vh;
  background-color: #00566f;
  position: relative;
  color: #fff;
  scroll-padding-top: 0px;
}

.offer__vid{
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: .21;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.scrollDown{
  border: none;
  background: transparent;
  align-items: flex-end;
  color: #fff;
  font-size: 16px;
  cursor: pointer;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  margin-top: 40px;
}

.btn-leftp{
  margin-left: 0px;
  margin-top: 40px;
}

.offer__c{
  height: 90vh;
  display: block !important;
  margin-top: 0px !important;
}

.offer__title{
  font-size: 2.5em;
}

#hint{
	width: 48px;
	height: 48px;
	cursor: pointer;
	bottom: 0;
	position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.chevron {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 1;/* 
	transform: scale3d(0.5, 0.5, 0.5); */
}

.chevron:before,
.chevron:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: #fff;
}

.chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
}

.chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
}

/* Loading */
.loading,
.warning {
  width: 100%;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 1);
  padding: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.contiune {
  margin-top: 20px;
}

.close {
  padding: 25px;
  float: right;
  color: #f1f1f1;
  background: rgb(4, 108, 109);
  font-size: 20px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.14), 0 1px 8px rgba(0, 0, 0, 0.28);
  border: none;
}

.overlay {
  position: fixed;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  top: 0;
  height: 100vh;
  display: none;
}

.content {
  width: 1200px;
  margin: auto;
  padding: 30px;
  margin-top: 100px;
  position: relative;
  z-index: 1;
}

.side-content{
  padding: 30px;
}

.content.--only{
  margin-top: 0;
}

.content:last-child{
  padding-bottom: 100px;
}

.ppad-about .content{
  margin-top: 0;
}

.ppad-about .content:last-child{
  padding-bottom: 0;
}

.newsletter{
  width: 100%;
  height: 409px;
}

.special-events{
  background: #046c6d;
  padding: 0px 15px; 
  padding-right: 0;
  color: #fff;
}

/* .ppad-about:last-child .content:last-child{
  padding-bottom: 100px;
} */

.special__margin{
  margin-top: 150px;
}

.main-container .content {
  margin-top: 0px;
}

.dis-item{
  background-color: #f8f8f8;
  box-shadow: 0px 6px 7px rgb(0 0 0 / 20%);
  overflow: hidden;
  color: #000;
}

.dis-item_readmore{
  color: #00a0a0;
}

.dis-item:hover{
  text-decoration: none;
}

.dis-item__content{
  padding: 15px
}

@import "pressroom.css";

/* Tickets */
.ticket-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 20px;
}

.ticket {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.49);
  overflow: hidden;
  background-color: #fff;
}

.ticket_price .cta{
  margin-top: 20px;
  font-weight: 100;
}

.ticket-cta{
  position: absolute;
  display: none;
  top: 280px;
  left: 0;
  font-weight: 200;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.49);
}

.ticket-cta .cta{
  font-weight: 200;
}

.ticket-cta.active{
  display: block;
}

.ticket_grd{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ebebeb;
  opacity: 0.7;
}

.ticket_content {
  position: relative;
  color: #292929;
  z-index: 1;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.ticket_content ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ticket_content li{
  border-bottom: 1px solid #c4c4c4;
  padding: 20px;
}

.ticket_content li:last-of-type{
  border: none;
}

.disclaimer {
  font-size: 12px;
  margin-top: 10px;
}

.ticket__destination{
  display: block;
  margin: 0;
  padding: 45px 15px 15px;
  font-size: 1.1rem;
  font-weight: lighter;
}

.ticket-header{
  height: 200px;
  width: 100%;
  position: relative;
}

.ticket_price{
  font-size: 1.75rem;
  color: #00566f;
}

.ticket .cta{
  padding: 15px 7px;
}

.ticket .cta:last-of-type{
  margin-bottom: 0;
}

.blue_bg {
  background: linear-gradient(to bottom, #00abde, #00566f);
}

.form-elements-container{
  padding-top: 15px;
}

.form-submit-btn{
  margin-top: 10px;
  max-width: 100%;
  width: 100%;
}

.color-picker{
  width: 100%;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: none;
  height: 50px;
}

/* Login */
.login__input{
  margin-bottom: 15px;
}
.login__input, .upload__title--input, .form-elements{
  width: 100%;
  padding: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #00566f;
  font-size: 16px;
}

.form-elements{
  margin: 0;
}

.login__btn{
  width: auto;
  padding: 15px;
  border: none;
  background: #00566f;
  font-size: 15px;
  color: #fff;
  float: right;
}

.login__input:focus, .login__input:focus-within, .form-elements:focus, .form-elements:focus-within{
  outline: 1px solid #0082aa;
}

.login__input::placeholder, .form-elements::placeholder{
  color: #a7a7a7;
}

form label{
  display: block;
  padding: 10px 0px;
}
/* Upload */
input[type="file"] {
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: #b8b8b8;
}

.button {
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #8ebf42;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.fileName{
  padding-left: 10px;
  display: inline-flex;
  justify-content: center;
  cursor: none;
}

.fileToUpload{
  visibility: hidden;
  opacity: 0;
  display: none;
}

/* Personen Verkehr */
.about__bg {
  background: linear-gradient(to left, rgba(4, 107, 109, 0.5), rgb(0, 71, 88, .5));
}

.about__bg a{
  color: #00566f;
}

.about-content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.split-tout--padding-top {
  padding-bottom: 2.5625rem;
  padding-top: 7.3125rem;
}

.overlap-bottom {
  margin-bottom: -12.6875rem;
}

.overlap-top {
  margin-top: -4.875rem;
}

.aboutSmallImages.--leftSide {
  padding-right: 50px;
}

.about-heading{
  color: rgb(86, 88, 90);
  font-size: 30px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.rare-script {
  font-family: "Rare Script", Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

/* Cookie Banner */
.cookie-settings{
  z-index: 2147483645;
  position: fixed;
}

.cookie_banner_container {
  width: 80%;
  height: auto;
  background: linear-gradient(to right, #00abde, #00566f);
  color: #f2f2f2;
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cookie_banner_info {
  width: auto;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  line-height: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid-3{
  grid-template-columns: 1fr 1fr 1fr !important;
}

.gap-30{
  gap: 30px;
}

.nopadd {
  padding: 0;
}

.cookie_banner_info p {
  margin: 0px;
  color: #fff;
}

.cookie_banner_info .links{
  color: #000;
}

/* Buttons */
.mobile-visible{
  display: none;
}

.cookie-btn {
  float: left;
  padding: 15px 25px;
  margin: 5px;
  font-size: 16px;
  min-width: 158px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
  border: none;
}

.accept-btn {
  background: #00a724;
  border: 1px solid;
  color: #fff;
}

.necessery {
  background: #ffffff;
  color: #000;
}

.accept-btn:hover{
  text-decoration: none;
  background: #00791a;
  color: #fff;
}

.necessery:hover{
  text-decoration: none;
  background: rgb(97, 97, 97);
  color: #fff;
}

/* Attractions */
.attractions{
  margin-top: 100px;
}

.attraction-item{
  cursor: pointer;
  padding: 15px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
}

.attraction-item p{
  color: #323232;
}

.attraction-item:hover{
  text-decoration: none;
}
/* Booking */
.bookingPage{
  aspect-ratio: 16/9;
  width: 100%;
  height: 2000px;
  margin-bottom: -4px;
}

.booking-ticket{
  width: 100%;
  padding: 15px;
  background-color: #046c6d;
  color: #fff;
  font-size: 20px;
  margin: 10px 0px;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.booking-ticket:hover{
  color: #fff;
  text-decoration: none;
  filter: brightness(1.2);
  -moz-filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
  -o-filter: brightness(1.2);
  -ms-filter: brightness(1.2);
}

.booking{
  place-content: center;
  place-items: center;
  padding: 150px;
  background-color: transparent !important;
  height: auto !important;
}

.booking_bg{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 70%;
  left: 0;
  top: 0;
  opacity: .5;
  object-fit: cover;
  object-position: 0 -350px;
}

.booking-form{
  background-color: #fff;
  color: #000;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin: 50px 0;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.49);
}

.booking-content{
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.booking-inputFields{
  padding: 15px;
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #000;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  font-size: 16px;
}

.booking-inputFields:focus, .booking-inputFields:focus-within{
  outline: none;
  border-color: rgb(4, 108, 109);
}

.booking-field{
  margin: 35px 0;
  padding: 0px 15px;
}

.booking-search-btn{
  width: 100%;
  padding: 30px 0;
  background-color: #00566f;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

/* TDF */
.tdfCta{
  padding: 15px 45px;
  background: var(--tourDeFranceColor);
  margin: 15px 0px;
  color: #000;
  display: block;
  font-weight: bold;
  width: max-content;
  cursor: pointer;
  transform: skew(12deg);
  border-radius: 0;
  box-shadow: none;
}

/* Weather */
.booking__weather {
  position: relative;
  top: 250px;
  color: #fff;
}
.weather {
  text-align: center;
  position: relative;
  max-width: max-content;
  width: 100%;
  margin: auto;
  color: var(--fontColor);
  flex-shrink: 0;
}

.weather:hover{
  text-decoration: none;
}

.temp{
  font-size: 20px;
  font-weight: bold;
}

.weather-forcast{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.forcast{
  margin: 15px 0;
  padding: 15px;
  border-right: 1px solid #c0c0c0;
}

.weather__icon {
  position: absolute;
  top: -160px;
  left: 12px;
  width: 47%;
  height: 300px;
}

.weather__place {
  color: #fff;
  position: absolute;
  right: 70px;
  top: 0px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.degree {
  border: 4px solid #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -30px;
  top: 39px;
}

.weather__temp {
  font-size: 160px;
  color: #fff;
  margin: 0;
  font-weight: 600;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  position: relative;
  display: inline;
}

.condition,
.date {
  font-size: 20px;
  margin-top: -10px;
}

/*Pressroom Home*/

.press_container {
  margin-top: 3em;
}

.press-news {
  width: 50%;
  height: auto;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.49);
}

.press_header {
  padding: 15px;
  position: relative;
}

.byline {
  font-weight: bold;
  padding: 15px;
}

.cate {
  margin: 15px 0px;
}

.nes_content {
  padding: 15px;
}

.news_date-place {
  padding: 15px;
}

.left-side {
  float: left;
  width: 70%;
}

.sidebar {
  float: right;
  width: 30%;
}

.den,
.germ {
  margin-top: 15px;
}

/* FAQ */
.accordion {
  cursor: pointer;
  padding: 30px 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}

.panel {
  height: 0;
  max-height: 0px;
  overflow: hidden;
  text-align: left;
  transition: all .5s ease-in-out;
  border-bottom: 2px solid #fff;
}

.panel a{
  color: #fff;
  text-decoration: underline;
}

.panel a:hover{
  color: #00566f;
  text-decoration: none;
}

.panel-ppad{
  padding: 20px;
}

.arrowDown{
  transform: rotate(45deg);
  transition: transform 1s ease-in-out;
  transform-origin: center center;
  margin-right: 20px;
  border-color: #000;
  float: right;
}

.arrowUp{
  transform: rotate(-135deg) translate(-3px, -4px);
}

.panel.panelShow{
  height: 100%;
  max-height: 1000px;
  overflow-y: auto;
  transition: all 1s ease-in-out;
}

.qa {
  margin-top: 15px;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding: 15px;
}

#faq, #tickets{
  scroll-margin: 2rem;
}

.faq-bg{
  background-image: url("https://www.cykelfaergen.info/newsroom/news-img/IMG_1753-min.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}

.faq-bg .arrowDown, .harbor .arrowDown{
  border-color: #fff;
}

.harbor .arrowDown{
  margin-top: -10px;
  margin-right: 0;
}

/* Timetable design */
.timetable-heading{
  font-size: 2.5em;
  margin: 0;
  padding-block: 0.83em;
}

.timeTable{
  width: 100%;
}

.flex-flip{
  display: flex;
  flex-direction: column-reverse;
}

.ferry{
  margin-block-start: .5em;
  margin-block-end: .5em;
  font-size: 1.17em;
  font-weight: 100;
  font-family: "Raleway", "Arial";
}

.route{
  margin-block-start: .5em;
  margin-block-end: .5em;
  font-size: 1.27em;
  scroll-margin: 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.timetable-active{
  margin-top: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.timetable-dates{
  
}

.stop{
  display: inline-block;
}

.harbor{
  background-color: #046c6d;
  color: #fff;
  padding: 30px 15px;
  margin: 0;
  cursor: pointer;
  width: 100%;
  font-size: 1.025rem;
  border: none;
  letter-spacing: .095em;
}

.bold{
  font-weight: bold;
}

.stop.flex{
  display: block;
  flex-direction: column;
}

.departureTime{
  font-size: 14px;
  padding: 0px 15px;
  overflow: hidden;
  transition: all .5s cubic-bezier(0.21, 0.66, 0.74, 0.32);
  display: grid;
  grid-template-rows: 0fr;
  background-color: #dedede;
}

.stop:last-of-type .departureTime{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.departureTime-container{
  min-height: 0;
}

.departureTime.show, .departureTime:has(.schedule-time.current){
  height: 100%;
  grid-template-rows: 1fr;
}

.harbor .arrowDown:has(.schedule-time.current){
  transform: rotate(-135deg) translate(-3px, -4px);
}

.departureTime p{
  text-align: center;
}

.departureTime time{
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #c4c4c4;
  background-color: transparent;
  display: block;
}

.schedule-time{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  overflow: hidden;
}

.schedule-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.route-line{
  width: 80%;
  height: 2px;
  padding: 0px 2px;
  background-color: #c4c4c4;
  color: #c4c4c4;
  position: relative;
  display: inline-block;
}

.route .route-line{
  width: 80px;
  margin: 0 10px;
  color: #000;
  background-color: #000;
}

.harbor .route-line{
  width: 75%;
}

.route-line::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  border-bottom: transparent;
  border-left: transparent;
}

.route-line::after{
  right: 0;
}

.current .route-line::after{
  border-top: 2px solid #00791a;
  border-right: 2px solid #00791a;
}

.current .route-line{
  background-color: #00791a;
}

.current time{
  border: 2px solid #00791a;
  background-color: #00791a;
  color: #fff;
}

.stop-place{
  padding: 5px;
}

.stop-time.--highlight{
  background-color: rgb(252, 221, 67);
  color: #000 !important;
}

/* Table Design */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 15px 0px;
}

table th {
  width: auto;
  color: rgb(57, 57, 57);
}

th,
td {
  border: 1px solid #c4c4c4;
  padding: 15px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */

tr{
  background-color: #ffffff;
}

td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background: #fff;
}
td:nth-child(2) {
  position: sticky;
  left: 110px;
  z-index: 1;
  background: #fff;
}

.content-table {
  margin-left: 200px;
}

/* Footer */
.fullwidth-img{
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
  margin-bottom: -4px;
}

.footer {
  width: 100%;
  height: auto;
  color: #858585;
  background: var(--headerColor);
  border-top: 10px solid rgb(0, 71, 88);
}

.footer--title{
  display: block;
  font-size: 1.25em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.ppad {
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ppad-10{
  padding-top: 50px;
  padding-bottom: 50px;
}

.social-icon{
  width: 10% !important;
  padding: 5px !important;
  margin-top: 20px;
  float: left;
}

.legal {
  font-size: 12px;
}

.legalc {
  /* background-image: linear-gradient(to left, #046c6d, rgb(0, 71, 88)); */
  background-color: var(--backgroundColor);
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.trustpilot-widget{
  text-align: center;
}

.terms {
  width: 100%;
}

.copy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms a {
  float: left;
}

.terms a,
.copy a {
  padding: 15px;
  text-decoration: none;
  color: var(--fontColor);
}

.footer_logo {
  float: left;
  width: 16%;
}

.footer_nav{
  padding-bottom: 0px;
}

.footer_nav img {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.sponsore__title{
  font-size: 1.25em;
  text-transform: uppercase;
  color: #9c9c9c;
}

.sponsore-container{
  overflow: hidden;
  display: flex;
  user-select: none;
  max-width: 1500px;
}

.sponsore{
  max-width: max-content;
  display: flex;
  flex-shrink: 0;
  gap: 20px;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px 10px;
  grid-auto-columns: minmax(max-content, 1fr);  */
  grid-row: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;

  animation: scroll 90s linear infinite;
}

.sponsore-container:hover .sponsore{
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100%  - 20px));
  }
}

.sponsore_container{
  max-width: 1150px;
  margin: auto;
  padding-bottom: 200px;
  text-align: center;
  margin-top: 60px;;
}

.sponsore_container.--top{
  padding: 0;
}

.sponsore-container{
  margin-top: 40px;
}

.sponsore__flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsoreLogo{
  filter: none;
  border: none;
  margin: auto;
  height: 100vh !important;
  width: 300px;
  max-height: 150px;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.sponsoreLogo__container{
  padding: 0px 35px;
  flex-shrink: 0;
  width: max-content;
}

/* .sponsoreLogo__container:last-child{
  grid-column: 1/4;
} */

.sponsoreLogo__container:last-child .sponsoreLogo{
  max-height: 100px;
}

.slick-initialized .slick-slide
{
    display: flex !important;
}

.image-slider .slick-slide{
  display: block;
  width: 100% !important;
  max-width: 300px !important;
  flex-direction: column;
}

.slick-arrow{
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: none !important;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-next{
  right: -25px;
}

.slick-prev{
  left: -25px;
}

.navigation-status {
  width: 100%;
  display: flex;
}

.footer_nav .le {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  position: relative;
  right: 0;
  top: 0;
  float: left;
}

.footer_nav .le ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.footer_nav .le ul li a {
  color: #858585;
  display: block;
  padding: 10px 0px;
}
